#microphone {
  transform: scale(0.6) translate(-60px, 60px);
  fill-rule: evenodd;
}

#eightnote {
  animation: eigth_animated 2.5s infinite;
}

#fourthnote {
  animation: fourth_animated 1.5s infinite;
}

@keyframes fourth_animated {
  from {
    transform: rotate(45deg) scale(0.6) translate(60px, -270px);
  }
  100% {
    transform: rotate(45deg) scale(0.6) translate(60px, -480px);
  }
}

@keyframes eigth_animated {
  from {
    transform: rotate(45deg) scale(0.6) translate(80px, -250px);
  }
  100% {
    transform: rotate(45deg) scale(0.6) translate(80px, -470px);
  }
}
