#stick-1,
#stick-2 {
  fill: #efb66a;
}

#drum-base {
  fill: #f45151;
}

#drum-top-bottom {
  fill: #e2e2e2;
}

#stick-1,
#stick-2,
#drum-base,
#drum-top-bottom {
  fill-rule: evenodd;
  transform: scale(0.3) translate(-60px, 60px);
}

#stick-1,
#stick-2 {
  animation: bang 2s infinite;
}

@keyframes bang {
  from {
    transform: rotate(3deg) translate(-40px, 5px) scale(0.3);
  }
  50% {
    transform: rotate(-7deg) translate(-80px, 7px) scale(0.3);
  }
  to {
    transform: rotate(3deg) translate(-40px, 5px) scale(0.3);
  }
}
