.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row: 1fr;
  min-height: 100vh; /*stretches to fill the screen*/
  min-width: 100vw;
  background-color: #eef4d4;
}
.grid-container > div {
  text-align: center;
  font-size: 2em;
}
@font-face {
  font-family: "mango-salsa";
  src: url("./fonts/MangoSalsa.ttf");
  font-style: normal;
}

#Heading a {
  text-decoration: none;
  color: #1c2826;
  font-family: "mango-salsa", "Roboto";
}

.Footer {
  background-color: #daefb3;
}

.DisplayArt {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media only screen and (max-width: 350px) {
  .Header {
    font-size: 15px;
  }
}
