.grid-container {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-row: auto;
  min-height: 100vh; /*stretches to fill the screen*/
  min-width: 100vw;
  background-color: #eef4d4;
}
.grid-container > div {
  text-align: center;
  font-size: 2em;
}
@font-face {
  font-family: "mango-salsa";
  src: url("./fonts/MangoSalsa.ttf");
  font-style: normal;
}

#Heading {
  font-family: "mango-salsa", "Roboto";
  color: #1c2826;
  margin-block-start: 0em;
}
.Header {
  grid-column: 1/6;
  grid-row: 2;
}
.Header a {
  text-decoration: none;
  color: #1c2826;
  font-family: "mango-salsa", "Roboto";
}
.FavoritesButton {
  grid-column: 5/6;
  grid-row: 1;
  text-align: right;
}
.Menu {
  grid-column: 1/6;
  grid-row: 3;
}
.contentDiplayed {
  grid-column: 1/6;
  grid-row: 4;
}
.Footer {
  grid-column: 1/6;
  background-color: #daefb3;
  grid-row: 5;
}


.DisplayArt {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1em;
}
.Theme1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1em;
}
.Theme2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1em;
}
.Theme3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1em;
}



@media only screen and (max-width: 350px) {
  .Header {
    font-size: 15px;
  }
}