body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.grid-container {
  display: grid;
  grid-column: repeate(5,1fr);
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.Header {
  grid-column: 1/6;
}
.Menu {
  grid-column: 1/2;
  grid-row: 2 / 80;
}
.DisplayArt {
  grid-column: 2/6;
  grid-row: 2 / 80;
}
.Footer{
  grid-column: 1/6;
}
.SVG {
  grid-column: 3/4;
  grid-row: 3/5;
}

/*
.grid-container {
  display: grid;
  grid-column: repeate(5,1fr);
  grid-gap: 5px;
}
.Header {
  grid-column: 1/6;
  text-align: center;
  height: 50px;
  border-style: solid;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.DisplayArt {
  grid-column: 2/6;
  text-align: center;
  height: 500px;
  border-style: solid;
}
.SVG {
  grid-column: 1;
  grid-row: 1;
  border-style: dotted;
}
*/