.SVG {
  background-color: #ea9e8d;
  height: 10em;
  width: 8em;
  padding: 0.1em;
  margin: 1.1em;
  justify-self: center;
  border-radius: 2%;
}

.SVG_picture {
  /* height: 8em;
  width: 8em; */
  background-color: white;
  cursor: pointer;
}

.text {
  font-size: 0.5em;
  text-align: left;
  margin-block-start: 0.3em;
  margin-block-end: 0.5em;
  margin-inline-start: 0.5em;
  margin-inline-end: 0.5em;
  padding: 0.5em;
  color: white;
}

/* On screens that are 350px or less */
@media only screen and (max-width: 350px) {
  .SVG {
    height: 7em;
    width: 5.6em;
  }
}
