#favorites {
  fill: #d64550;
  transform: scale(0.7);
}

.SaveButton{
  fill: white;
  border: 20p;
  transform: scale(0.7);
}

.SaveButton:hover{
  fill: #d64550;
}

#favBtn{
  background: none;
  border: none;
  cursor: pointer;
  padding: 0px;
  appearance: none;
}
