.click {
  font-size: 33px;
  color: rgba(0, 0, 0, 0.5);
  width: 38px;
  height: 38px;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
}

.click span {
  margin-left: 4px;
  margin-top: 3px;
  z-index: 999;
  position: absolute;
}

span:hover {
  opacity: 0.8;
}

span:active {
  transform: scale(0.93, 0.93) translateY(2px);
}

.active span {
  color: #f5cc27;
}

* {
  transition: all 0.32s ease;
}
