@font-face {
  font-family: "tropical";
  src: url("../../fonts/Tropical.ttf");
  font-style: normal;
}
@font-face {
  font-family: "disco";
  src: url("../../fonts/DiscoDiva.ttf");
  font-style: normal;
}
@font-face {
  font-family: "royal";
  src: url("../../fonts/RoyalQueen.ttf");
  font-style: normal;
}

.Menu {
  background-color: #d64550;
}
.Header_Menu {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  padding-inline-start: 0em;
}
.Header_Menu > li {
  display: inline;
  list-style-type: none;
  font-size: smaller;
}
.Header_Menu li a {
  color: #eef4d4;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
}

#Tropical {
  font-family: "tropical", "Roboto";
}
#Disco {
  font-family: "disco", "Roboto";
}
#Royal {
  font-family: "royal", "Roboto";
}

.btn {
  color: #eef4d4;
  background-color: #d64550;
  padding: 0px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  cursor: pointer;
  font-weight: bold;
  border: none;
  height: 2em;
  outline: none;
}

.btn:hover {
  background-color: #eef4d4;
  color: #dd767e;
}
