#bass-stem {
  transform: scale(0.5);
}

#bass-base {
  fill: #7f4f00;
  transform: scale(0.5);
}

#bass-bow {
  fill: #3d322d;
  animation: bow 3s infinite;
  transform: scale(0.5);
}

@keyframes bow {
  from {
    transform: rotate(3deg) translate(-10px, 5px) scale(0.5);
  }
  50% {
    transform: rotate(-3deg) translate(40px, 5px) scale(0.5);
  }
  to {
    transform: rotate(3deg) translate(-10px, 5px) scale(0.5);
  }
}
